/* ################################# ROOT SETTINGS "#################################### */

:root {

    /* Project Theme */
    --background: #FFF;
    --text: #000;

    /* Input Theme */
    --input-background: #FFF;
    --input-text: #000;
    --input-border: #CCC;

    /* Colors */
    --project-orange: orange;
    --project-red: red;
    --project-blue: blue;
    --project-green: rgb(0, 160, 0);
    --project-black: black;
    --project-less-black: rgb(61, 61, 61);
    --project-white: white;
    --project-less-white: rgb(182, 182, 182);
    --project-grey: rgb(95, 95, 95);
    --project-light-grey: rgb(188, 188, 188);

}

/* ################################ PROJECT SETTINGS ################################### */

html, body {
    background-color: var(--background);
}

/* ################################### INDEX.HTML ###################################### */

.validation-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

#validateDomain {
    color: var(--input-text);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid var(--input-border);
    border-radius: 4px;
}